<!-- Footer -->
<footer
        class="text-center text-white footer">
    <!-- Grid container -->
    <div
            class="container p-4">
        <section
                class="mb-4">
{#            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">#}
{#                <i class="bi bi-facebook"></i>#}
{#            </a>#}

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                <i class="bi bi-twitter"></i>
            </a>

{#            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">#}
{#                <i class="bi bi-google"></i>#}
{#            </a>#}

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                <i class="bi bi-instagram"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                <i class="bi bi-linkedin"></i>
            </a>

{#            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">#}
{#                <i class="bi bi-github"></i>#}
{#            </a>#}
        </section>


        <section
                class="">
            <div
                    class="row">
                <div class="col-12">

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{{ path('app_main') }}" class="text-white">Home</a>
                        </li>
                        <li>
                            <a href="{{ path('app_legal') }}" class="text-white">Legal notice</a>
                        </li>
{#                        <li>#}
{#                            <a href="#" class="text-white">About</a>#}
{#                        </li>#}
                        <li>
                            <a href="#" class="text-white">Contact</a>
                        </li>
{#                        <li>#}
{#                            <a href="#" class="text-white">Avertissements</a>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
        </section>
    </div>

{#    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">#}
{#        © 2024 Copyright:#}
{#        <a class="text-white" href="https://mdbootstrap.com/">Snowtricks</a>#}
{#    </div>#}
</footer>
