<turbo-stream action="update" target="toFormPath">
    <template>
        <p>In which app you wanna transfer the playlist?</p>
        <div class="col-2 text-center">
            <a href="{{ path('app_account_pick', {'playlistPlatform': platform, 'playlistId': playlist, 'accountPlatform':'spotify'}) }}">
                <button class="btn btn-success" type="button">Spotify</button>
            </a></div>
        <div class="col-2 text-center">
            <a href="{{ path('app_account_pick', {'playlistPlatform': platform, 'playlistId': playlist, 'accountPlatform':'deezer'}) }}">
                <button class="btn btn-warning" type="button">Deezer</button>
            </a></div>
        <div class="col-2 text-center">
            <a href="{{ path('app_account_pick', {'playlistPlatform': platform, 'playlistId': playlist, 'accountPlatform':'applemusic'}) }}">
                <button class="btn btn-primary" type="button">Apple Music</button>
            </a></div>
    </template>
</turbo-stream>