<turbo-stream action="update" target="toFormPath">
    <template>
        <p style="color:white">LETS RUN THE Authorization Code with PKCE Flow</p>
{#        https://developer.spotify.com/documentation/web-api/tutorials/code-pkce-flow#}
    </template>
</turbo-stream>