<turbo-stream action="update" target="the_frame_id">
    <template>
        <p style="color:white">Salut {{ data.name }}, on t'a envoyé un mail a ton adresse : {{ data.email }}.</p>
        <p>Tu t'en fous mais on est en {{ data.month }} {{ data.year }}</p>
    </template>
</turbo-stream>