{% extends 'base.html.twig' %}

{% block title %}PLAYLISTRUNNER{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>From which app you want to grab the playlist?</h2>
                <div class="btn-group" role="group" aria-label="Inline Buttons">
                    <button type="button" class="btn btn-primary">Spotify</button>
                    <button type="button" class="btn btn-secondary">Deezer</button>
                    <button type="button" class="btn btn-success">Apple Music</button>
            </div>

            </div>
        </div>
    </div>


{% endblock %}
