{% extends 'base.html.twig' %}

{% block title %}PLAYLIST CONVERTER{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <div class="vertical-center">
                    <h1 class="playlist-converter-title">PLAYLIST CONVERTER</h1>
                    <p class="mt-2">Make any playlist your own</p>
                </div>
            </div>

                <div id="fromFormPath">
                    <div class="col-12 text-center mt-5">
                        <h2>Select the playlist's platform you want to get</h2>

                        <div class="col-12 text-center mt-5">
                            <a href="{{ path('app_platform_pick', {'platform': 'spotify'}) }}">
                                <button class="spotify-color spotify-textglitch platform-button " type="button">Spotify <i class="bi bi-spotify"></i>
                                </button>
                            </a></div>
                        <div class="col-12 text-center mt-5">
                            <a href="">
                                <button class=" deezer-color deezer-textglitch platform-button" type="button">Deezer <i class="bi bi-lock-fill"></i></button>
                            </a></div>
                        <div class="col-12 text-center mt-5">
                            <a href="">
                                <button class="apple-color apple-textglitch platform-button" type="button">Apple Music <i class="bi bi-lock-fill"></i></button>
                            </a></div>
                </div>
            </div>

            <div class="col-12 text-center">
                <div id="toFormPath"></div>
                <div id="finalContent"></div>
            </div>
        </div>
    </div>


{% endblock %}
