<turbo-stream action="replace" target="fromFormPath">
    <template>
    <div class="header-banner text-center">
        <h2>Legal Notice</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    <strong>Site Publisher:</strong>
                    Name: Mael Mhun<br>
                    Address: <br>
                    Email: mhunmael@hotmail.com
                </p>
                <p>
                    <strong>Hosting Provider:</strong>
                    Name: Unknown for now<br>
                    Company Name: Unknown for now<br>
                    Address: Unknown for now<br>
                    Phone: Unknown for now
                </p>
                <p>
                    <strong>Publication Director:</strong>
                    Name: Mael Mhun
                </p>
                <p>
                    <strong>Privacy Policy:</strong>
                    This site does not collect personal data from users. When the site redirects you to a streaming platform for you to log in, you enter your data on their website. The platform returns us only a limited time token allowing us to only create a playlist on your account. The token is not stored on the site. We do not use any database.
                </p>
                <p>
                    <strong>Cookies:</strong>
                    This site uses cookies to save the playlist you chose and the platform where it is on while you connect on it. Without those cookies, the site won't work.
                </p>
            </div>
        </div>
    </div>
    </template></turbo-stream>
