<turbo-stream action="update" target="fromFormPath">
    <template>
<p style="color:white">Ok for Spotify, then just go on the playlist you want and copy the "Share link" and paste it here</p>

<form id="linkForm" action="{{ path('app_spotify_get_link') }}">
    <input type="text" name="playlistLink"><br>
    <button type="submit">Submit</button>
</form>
    </template>
</turbo-stream>