<turbo-stream action="update" target="fromFormPath">
    <template>
        <p style="color:white">Found this one</p>
        <p> {{ playlist.name }}</p>
        <img src="{{ playlist.images.0.url }}">
        <div class="col-4 text-center">
            <a href="{{ path('app_account_platform_pick', {'platform': 'spotify', 'playlistId':playlist.id}) }}">
                <button class="btn btn-success" type="button">Yes, it's this one</button>
            </a></div>
        <div class="col-4 text-center">
            <a href="{{ path('app_platform_pick', {'platform': 'spotify'}) }}">
                <button class="btn btn-danger" type="button">Wrong one</button>
            </a></div>
    </template>
</turbo-stream>